
.bg {
  background-image: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/characters_art_mas_dsk_01.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: block;
  text-align: center;
  background-color: rgba(0,0,0, 0.4);
  height: 75vh;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}
.mainContent {
  padding: 20px;
}
.header {
  display: block;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.search {
  width: calc(100vw/3);
  margin-top: 5vh;
  height: 30px;
  font-size: 16px;
}
.renderItem {
  margin-top: 50px;
}
.renderItem li {
  display: inline-block;
  border: 1px #ddd solid;
  height: 200px;
  width: 20%;
  margin: 0 10px;
  cursor: pointer;
  background: #fff;
}
.image {
  height: 75%;
}
.title {
  padding: 15px;
  text-align: center;
}
.popup {
    position: absolute;
    width: 50%;
    height: 75vh;
    background-color: #fff;
    z-index: 2;
    border: 1px solid;
    overflow: auto;
}
.popup .desc {
  text-align: left;
  padding-left: 20px;
}
.popup .content {
  font-weight: normal;
  font-size: 13px;
  padding: 0 30px;
  margin-bottom: 10px;
}
.popup .image {
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  height: 150px;
  border: 1px solid;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;
    padding: 20px;
}
.close {
  float: right;
  font-size: 16px;
  border: #fff;
  padding: 10px;
  cursor: pointer;
}
.save {
  float: left;
  font-size: 16px;
  border: #fff;
  padding: 10px;
  cursor: pointer;
}
.url li {
  margin-bottom: 5px;
  list-style: none;
}
.buttonContainer {
  position: absolute;
  bottom: 10px;
}
.buttonContainer button {
  font-size: 16px;
  border-radius: 5px;
}
button:disabled {
  background: none;
}
.previous {
  margin-left: 35vw;
}
.next {
  margin-left: 30px;
}
.back {
  float: left;
  padding-left: 5px;
  padding-top: 5px;
}
.remove {
  margin-left: 10px;
  cursor: pointer;
}
.viewSaved {
  float:right;
  margin-top: 5vh;
}
.viewSaved a,.back a {
  color: #fff;
  text-decoration: none;
}
.savedItems {
  margin: 0 auto;
  background-color: #fff;
  border:3px solid #fff;
  margin-top: 50px;
  width: 80%;
  height: 300px;
}
.savedItems li {
  list-style: none;
  margin: 5px auto;
  float: left;
  width: 100%;
}
.disclaimer {
  font-size: 20px;
  padding-top: 150px;
}